<% provide(:title, '') %>

<% provide(:jumbotron, '
      <h1>Welcome to Happy Vice!</h1>
      <p>Your World. Your Videos.</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  '.html_safe)%>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Header</h2>
        <p>Empty Space. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Header</h2>
        <p>Empty Space </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Header</h2>
        <p>Empty Space.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
